
<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>department</title>

    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet"
      href=" https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css ">
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <!-- <link rel="stylesheet" href="static/css/style.css"> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  </head>

  <body>
    <style>
      .navbar1{
        background-color: rgb(41, 104, 132);
      }
      li:hover{
        background-color: rgb(18, 80, 108);
        border-radius: 15px;
        color: rgba(0, 0, 0, 0);
      }
      
      
    </style>

    <nav class="navbar navbar1 navbar-expand-md ">
      <div class="container">
        <div class="col-2 text-left pl-md-0">
          <h3 class="text-white"> <i class="fa-regular fa-hospital"></i> City Hospital </h3>
        </div>
        
        <div
          class="collapse navbar-collapse justify-content-center col-md-8 navbar-collapse-3">
          <ul class="navbar-nav justify-content-center  fw-bold">
            <li class="nav-item active">
              <a class="nav-link text-white" href="{%url 'home'%}">Home </a>
            </li>
          
            <li class="nav-item">
              <a class="nav-link text-white" href="{%url 'booking'%}">Booking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{%url 'doctors'%}">Doctors</a>
            </li>
			 <li class="nav-item">
              <a class="nav-link text-white" href="{%url 'department'%}">Departments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{%url 'contact'%}">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{%url 'about'%}">About</a>
            </li>
          </ul>
        </div>
        
      </div>
    </nav>


<div>
  <style>
    .navbar12{
      background-color: rgb(236, 244, 255);
    }
  </style>
     <h1 class="text-center">Our Departments</h1>
     <hr>
     <div class="container">
          <div class="row">
               <div class="col-2"></div>
               <div class="col-8 my-1 ">
                    {%for d in dept%}
                    <div class="list-group  ">
                         <a href="#" class="list-group-item list-group-item-action mx-auto w-80 my-4 p-3 navbar12 " aria-current="true">
                           <div class="d-flex w-100 justify-content-between text-center">
                             <h4 class="mb-1">{{d.dep_name}}</h4>
                    
                           </div>
                           <p class="mb-1">{{d.dep_decription}}.</p>
                           
                         </a>
          
                       </div>
                       {%endfor%}
               </div>
               <div class="col-2"></div>
          </div>
     </div>
</div>



    
	
	
    <section class="fixed-bottom">
      <footer class="pt-2 pb-2  navbar1 text-light">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-md-8">
              <h5>Emergency Contact Number: 0123456789</h5>
            </div>
            <div class="col-12 col-md-4 mt-4 mt-md-0 text-center text-md-end">
              <!-- <p></p> -->
              <h5>City Hospital Pathanamthitta</h5>
            </div>
          </div>
        </div>
      </footer>
    </section>
    

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>


  </body>

</html>